
{% extends "layout.html" %}

{% block contents %}

<!-- .hero -->
<section class="hero is-fullheight rounded-3">
    <div class="container" style="margin-top: 40px;">
        <div style="text-align: center;">
            <h2>Menguji Gambar</h2>
        </div>
        <div class="mb-3 px-2 rounded bg-white border-5" id="divFormUji">
            <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data" id="forminputdata">
                <div class="input-group mb-3 px-4 py-3 rounded-pill bg-white shadow-sm">
                    <input class="form-control form-control-lg border-0" onchange="setImg()" name="my_image" id="txtFileFoto" type="file" aria-label=".form-control-lg example">
                    <label class="font-weight-light text-muted" for="pwd" ></label>
                    <button type="submit" class="btn btn-success" onclick="startprocess()"><i class="bi bi-search"></i>&nbsp;Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock contents %}